[api]
enabled = true
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 17

[studio]
enabled = true
port = 54323

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://waddek.lk"]
jwt_expiry = 3600
enable_signup = true

[auth.sms]
enable_signup = false
enable_confirmations = false

[storage]
enabled = true
file_size_limit = "10MB"
